body
{
	color: forestgreen;
	background-color: black;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12pt;
	margin: 2em;
}
a {
	color: orange;
}
a:hover {
	color: darkorange;
}
code {
	color: orange;
}
blockquote p {
	color: orangered;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: lime;
}
table, td {
	border-collapse: collapse;
	border-top: .1px solid darkgreen;
	border-bottom: .1px solid darkgreen;
}
th {
	border-collapse: collapse;
	border-top: 2px solid darkgreen;
	border-bottom: 2px solid darkgreen;
}
